<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Projet Node Js</title>
    <script src="assets/vendor/jquery/jquery.slim.js"></script>
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="assets/vendor/Vue.js/vue.js"></script>
    <link href="assets/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/tuto.css" rel="stylesheet">
</head>
<body>

<div id="app">
    <div class="container-fluid">
        <div class="row">
            <!-- Les filtres a appliquer -->
            <div class="col-3">
                <h1 class="row mx-auto"> Filtres </h1>
                <!--Liste des filtres avec des collapse-->

                <!-- Filtre Code postal -->
                <button class="btn btn-primary" data-toggle="collapse" href="#codePostalForm" role="button"
                        aria-expanded="false" aria-controls="codePostalForm">
                    Code Postal
                </button>
                <div class="row mx-auto collapse multi-collapse" id="codePostalForm">
                    <!--On apelle codePostalChanged quand on modifie l'input-->

                    <!-- TODO : TRANSFORMER LE CHOIX CODE POSTAL UNIQUE EN UNE LISTE DE CODES POSTAUX EN CHECKBOX -->
                    <!--
                    <input id="codePostal" type="text" v-model="codePostal" list="codesPostaux"
                           v-on:input="codePostalChanged">
                    <datalist id="codesPostaux">
                        <option v-for="codePostal in codesPostaux">
                            {{codePostal}}
                        </option>
                    </datalist>
                    -->

                    <ul>
                        <li v-for="codePostal in codesPostaux">
                            <label v-bind:for="codePostal">{{codePostal}}</label>
                            <input @click="codePostalChanged" v-bind:value=codePostal v-bind:id=codePostal
                                   v-model="codesPostauxChecked" type="checkbox">
                        </li>
                    </ul>
                </div>

                <!-- Filtre Nom Commune -->
                <button class="btn btn-primary" data-toggle="collapse" href="#communeForm" role="button"
                        aria-expanded="false" aria-controls="communeForm">
                    Nom de Commune
                </button>
                <div class="row mx-auto collapse multi-collapse" id="communeForm">
                    <ul>
                        <li v-for="nomCommune in nomsCommunes">
                            <label v-bind:for="nomCommune">{{nomCommune}}</label>
                            <input v-model=nomsCommuneChecked v-bind:value=nomCommune v-bind:id=nomCommune
                                   type="checkbox" @click="nomCommuneChanged">
                        </li>
                    </ul>

                </div>
            </div>

            <!-- Le résultat de la requete-->
            <div class="col-6">
                <h1 class="row mx-auto"> Résultat </h1>
                <ul>
                    <li class="row" v-for="activiteLibelle in activitesLibelles"
                        v-on:click="selectActivite(activiteLibelle)">
                        {{activiteLibelle}}
                    </li>
                </ul>
            </div>

            <div class="col-3">
                <h1 class="row">Info</h1>
                <ul>
                    <li class="row" v-for="nomUsuelInstallation in nomsUsuelsInstallations">
                        {{nomUsuelInstallation}}
                    </li>
                </ul>
            </div>

        </div>


    </div>

</div>
<script src="assets/JavaScript/Utils.js"></script>
<script src="assets/JavaScript/index-site.js"></script>


</body>
</html>