<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Projet Node Js</title>
    <script src="assets/vendor/jquery/jquery.slim.js"></script>
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="assets/vendor/Vue.js/vue.js"></script>
    <link href="assets/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/tuto.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/site_vuejs.css">


</head>
<body>

<!--
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <router-link  to="/home" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</router-link>
        <router-link to="/activites" class="nav-item nav-link" id="nav-activites-tab" data-toggle="tab" href="#nav-activites" role="tab" aria-controls="nav-activites" aria-selected="false">Activites</router-link>
        <router-link to="/equipement" class="nav-item nav-link" id="nav-equipement-tab" data-toggle="tab" href="#nav-equipement" role="tab" aria-controls="nav-equipement" aria-selected="false">Equipement</router-link>
        <router-link to="/installation" class="nav-item nav-link" id="nav-installation-tab" data-toggle="tab" href="#nav-installation" role="tab" aria-controls="nav-installation" aria-selected="false">Equipement</router-link>
    </div>
</nav>-->

<div class="container" id="app">


    <h1> Choix </h1>
    <!--
    <div class="col-lg-4">Colonne 4</div>
    <input type="button" onclick=window.location.href='http://localhost:3000/api/installation' name="test"/>
    <input type="button" onclick="MyFunction_test()"/>-->

    <input type="text" v-model="codePostal" list="codesPostaux" v-on:input="codePostalChanged">
    <datalist id="codesPostaux">
        <option v-for="codePostal in codesPostaux">{{codePostal}}</option>
    </datalist>

    <h1> Résultat </h1>
    <h1>Info </h1>

    <ul>
        <li v-for="activiteLibelle in activitesLibelles" v-on:click="selectActivite(activiteLibelle)">
            {{activiteLibelle}}
        </li>
    </ul>


    <div>
        <p v-for="nomUsuelInstallation in nomsUsuelsInstallations">
            {{nomUsuelInstallation}}
        </p>
    </div>

    <!--<div class="tab-content col-lg-8" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <h3>Home</h3>
        </div>

        <div class="tab-pane fade" id="nav-activites" role="tabpanel" aria-labelledby="nav-profile-tab">
            <h3>Activites</h3>
        </div>

        <div class="tab-pane fade" id="nav-equipement" role="tabpanel" aria-labelledby="nav-equipement-tab">
            <h3>Equipement</h3>
        </div>

        <div class="tab-pane fade" id="nav-installation" role="tabpanel" aria-labelledby="nav-installation-tab">
            <h3>Installations</h3>
        </div>

    </div>-->
</div>

<script src="assets/JavaScript/index-site.js">
    /* function MyFunction_test(){
        parent.location.hash = "installation";
    }*/
</script>

</body>
</html>