<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Projet Node Js</title>
    <script src="assets/vendor/jquery/jquery.slim.js"></script>
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="assets/vendor/Vue.js/vue.js"></script>
    <link href="assets/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/tuto.css" rel="stylesheet">
</head>
<body>

<div id="app"><!---->
    <div class="container">
        <div class="row">
            <!-- Les filtres a appliquer -->
            <div class="col-4">
                <h1> Filtres </h1>
                <label for="codePostal"> Code Postal :
                    <input id="codePostal" type="text" v-model="codePostal" list="codesPostaux"
                           v-on:input="codePostalChanged">
                </label>
                <datalist id="codesPostaux">
                    <option v-for="codePostal in codesPostaux">{{codePostal}}</option>
                </datalist>
            </div>

            <div class="col-4">
                <h1> Résultat </h1>
                <ul>
                    <li v-for="activiteLibelle in activitesLibelles" v-on:click="selectActivite(activiteLibelle)">
                        {{activiteLibelle}}
                    </li>
                </ul>
            </div>

            <div class="col-4">
                <h1>Info </h1>
                <div>
                    <p v-for="nomUsuelInstallation in nomsUsuelsInstallations">
                        {{nomUsuelInstallation}}
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="assets/JavaScript/index-site.js"></script>


</body>
</html>